html
{
    background-image: url(https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_640.jpg);
}
h1
{
    margin: 0px auto;
    text-align: center;
    background-color: rgb(217, 236, 43);
    width: 10rem;
    color: red;
}
body
{
    font-size: 15px;
    font-family: 'Lucida Sans Unicode', sans-serif;;
    margin: 0px auto;
    width: 1300px;
}
.lista
{
    width: 650px;
    margin: 2rem auto;
    text-align: center;
}
.lista td
{
    height: 55px;
    background-color: #000;
}
.logos td
{
    width: 1000px;
}
.logo
{
    width: 7rem;
}
.p1
{
    background-image: url();
}
h2
{
    text-align: center;
}
.datos
{
    margin: 2rem auto;
}
.datos h2
{
    color: #000;
}
a
{
    color: #fff;
}
.celdas:hover
{
    background-color: #fff;
    a
    {
        color: black;
    }
}